@page "/integrantes"
<PageTitle>Integrantes</PageTitle>


<h1>Integrantes</h1>
<ul>
    <li>Domenica Arcos</li>
    <li>Camila Sanchez</li>
    <li>Sebastian Quito</li>
    <li>Gorky Palacios</li>
    <li>Liseth Abad</li>
    <li>Mateo Rosero</li>
    <li>Nicolas Garcia</li>
</ul>